
.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.head{
    color: #F9FAF8;
    font-weight: bold;}
    



ul{
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
 
    }

 
img{ 
height:auto;
width:300px}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.text{
font-size: 18px;
color: #E5E7EB;
justify-content: left;
}

.main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: #1F2937;
display:flex;
justify-content: space-between;
padding: 64px;
}
