
.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.head{
    color: #F9FAF8;
    font-weight: bold;}
    



ul{
    list-style-type: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
 
    }

 
img{ 
height:auto;
width:300px}

#image{
    height:200px;
    width:200px;
}

.section{
    padding: 100px;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text{
font-size: 18px;
color: #E5E7EB;
justify-content: left;
align-items: left;
}

button{

    background-color: #3882F6;
    color:#E5E7EB;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: #1F2937;
display:flex;
justify-content: space-around;
padding: 50px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
   
}
.whimsy{
    margin-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: #1F2937;
}
.pic{
    border: solid 5px #3882F6;
    border-radius: 10px;
    
    

}
.description{
    text-align: center;
    color:#1F2937;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.quote{ 
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
    gap:16px;
}

.credit{
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    
}

.top{display: flex;
flex-direction: column;}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3882F6;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left:50px;
    margin-right: 50px;
    gap:150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #E5E7EB;
}

